{{ define "main" }}
  {{- /* Сначала дедуплицируем все страницы глобально */ -}}
  {{- $allUniquePages := dict -}}
  {{- $uniquePagesList := slice -}}
  
  {{- range .Data.Pages -}}
    {{- $pageKey := "" -}}
    {{- if .File -}}
      {{- $pageKey = .File.TranslationBaseName -}}
    {{- else -}}
      {{- $pageKey = .Slug -}}
    {{- end -}}
    {{- if not (index $allUniquePages $pageKey) -}}
      {{- $allUniquePages = merge $allUniquePages (dict $pageKey .) -}}
      {{- $uniquePagesList = $uniquePagesList | append . -}}
    {{- end -}}
  {{- end -}}

  <div
    class="archive {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}"
  >
    {{- /* Сортируем дедуплицированные страницы по дате */ -}}
    {{- $sortedPages := sort $uniquePagesList ".Date" "desc" -}}
    
    {{- /* Группируем по годам и выводим */ -}}
    {{- $currentYear := "" -}}
    {{- range $sortedPages -}}
      {{- $year := .Date.Format "2006" -}}
      {{- if ne $year $currentYear -}}
        {{- $currentYear = $year -}}
        <div class="archive__heading">{{ $year }}</div>
      {{- end -}}
      
      <ul class="archive__list">
        <li class="archive__list-item">
          {{- /* Убираем языковой префикс из URL */ -}}
          {{- $cleanLink := .RelPermalink | replaceRE "^/[a-z]+/" "/" -}}
          {{ if (eq .Site.Params.disableArchiveTitleStyling true) }}
            <a class="archive__list-title" href="{{ $cleanLink }}" title="{{ .Title }}">{{ .Title }}</a>
          {{ else }}
            <a class="archive__list-title" href="{{ $cleanLink }}" title="{{ .Title }}">{{ upper .Title }}</a>
          {{ end }}
          <div class="archive__list-date">
            {{ if isset .Site.Params "listdateformat" }}
              {{ if .Site.Params.localizedDates }}
                {{ time.Format .Site.Params.listDateFormat .Date }}
              {{ else }}
                {{ .Date.Format .Site.Params.listDateFormat }}
              {{ end }}

            {{ else }}
              {{ if .Site.Params.localizedDates }}
                {{ time.Format "Jan 2" .Date }}
              {{ else }}
                {{ .Date.Format "Jan 2" }}
              {{ end }}

            {{ end }}
          </div>
        </li>
      </ul>
    {{- end -}}
  </div>
{{ end }}