{{ define "main" }}
  <div
    class="archive {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}"
  >
    {{ range .Data.Pages.GroupByDate "2006" }}
      <div class="archive__heading">{{ .Key }}</div>
      
      {{- /* Создаем словарь для хранения уникальных страниц */ -}}
      {{- $uniquePages := dict -}}
      {{- $yearPages := slice -}}
      
      {{- /* Дедуплицируем страницы по базовому имени файла */ -}}
      {{- range .Pages -}}
        {{- $pageKey := "" -}}
        {{- if .File -}}
          {{- $pageKey = .File.TranslationBaseName -}}
        {{- else -}}
          {{- $pageKey = .Slug -}}
        {{- end -}}
        {{- if not (index $uniquePages $pageKey) -}}
          {{- $uniquePages = merge $uniquePages (dict $pageKey .) -}}
          {{- $yearPages = $yearPages | append . -}}
        {{- end -}}
      {{- end -}}
      
      {{- /* Выводим только уникальные страницы */ -}}
      {{ range $yearPages }}
        <ul class="archive__list">
          <li class="archive__list-item">
            {{- /* Убираем языковой префикс из URL */ -}}
            {{- $cleanLink := .RelPermalink | replaceRE "^/[a-z]+/" "/" -}}
            {{ if (eq .Site.Params.disableArchiveTitleStyling true) }}
              <a class="archive__list-title" href="{{ $cleanLink }}" title="{{ .Title }}">{{ .Title }}</a>
            {{ else }}
              <a class="archive__list-title" href="{{ $cleanLink }}" title="{{ .Title }}">{{ upper .Title }}</a>
            {{ end }}
            <div class="archive__list-date">
              {{ if isset .Site.Params "listdateformat" }}
                {{ if .Site.Params.localizedDates }}
                  {{ time.Format .Site.Params.listDateFormat .Date }}
                {{ else }}
                  {{ .Date.Format .Site.Params.listDateFormat }}
                {{ end }}

              {{ else }}
                {{ if .Site.Params.localizedDates }}
                  {{ time.Format "Jan 2" .Date }}
                {{ else }}
                  {{ .Date.Format "Jan 2" }}
                {{ end }}

              {{ end }}
            </div>
          </li>
        </ul>
      {{ end }}

    {{ end }}
  </div>
{{ end }}