{{- $linkClass := .linkClass -}}
{{- $linkBase := .linkBase -}}

<span>
  {{- range $index, $el := .items -}}
    {{- $item := replace . "#" "%23" -}}
    {{- $item = replace $item "." "%2e" -}}
    {{- $link := (printf "%s/%s/" $linkBase ($item | urlize)) -}}
    {{- if eq .Site.Language.Lang "ru" -}}
      <a class="{{ $linkClass }}" href="{{ $link | relURL }}">{{- . -}}</a>
    {{- else -}}
      <a class="{{ $linkClass }}" href="{{ $link | relLangURL }}">{{- . -}}</a>
    {{- end -}}
  {{- end -}}
</span>