{{- $linkClass := .linkClass -}}
{{- $linkBase := .linkBase -}}

<span>
  {{- range $index, $el := .items -}}
    <!-- Replace certain special characters with their URL encoded counterparts -->
    {{- $item := replace . "#" "%23" -}}
    {{- $item = replace $item "." "%2e" -}}
    {{- $link := ( printf "/%s/" ( $item | urlize ) ) | relURL -}}
    {{- /* Убираем языковой префикс из URL */ -}}
    {{- $link = $link | replaceRE "^/(russian|english|ru|en)/" "/" -}}
    <a class="{{ $linkClass }}" href="{{ $link }}">{{- . -}}</a>
  {{- end -}}
</span>