{{- $activityID := .Get 0 -}}
{{- $text := .Get 1 -}}
{{- $iconSize := .Get 2 | default "20px" -}}

{{- $svg := readFile "assets/icons/garmin.svg" -}}
{{- $svg = replace $svg "<svg" (printf `<svg style="width:%s;height:%s;vertical-align:middle;margin-right:8px;"` $iconSize $iconSize) -}}

<a href="https://connect.garmin.com/modern/activity/{{ $activityID }}" 
   target="_blank" 
   style="text-decoration: underline; text-decoration-style: dotted; color: #333; transition: color 0.3s; display: inline-flex; align-items: center;">
  {{ $svg | safeHTML }}<span>{{ $text }}</span>
</a>